<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>My Portfolio Website</title>
    </head>
    <body>

         <!-- HEADER -->
         <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">mj</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hey There!,<br>I'm Mansha Jain <span class="home__title-color">Full Stack Developer</span><br>My work is to bring good designs to life. </h1>

                    <a href="#" class="button">Contact</a>
                </div>

                <div class="home__social">
                    <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="" class="home__social-icon"><i class='bx bxl-behance' ></i></a>
                    <a href="" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                </div>

                <div class="homeimg">    
                    <img src="{% static 'img/my_phooo-removebg-preview.png' %}" alt="">
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{% static 'img/landing page.jpg' %}" alt="">
                    </div>
                    <div>
                        <h2 class="about__subtitle">I'am Full stack Developer</h2>
                        <p class="about__text">"Hi, I'm Mansha Jain, a full stack developer hands on experience in building web applications. I have a Master's in Computer application and am proficient in multiple programming languages such as Python,Java,c and JavaScript.

                            As a full stack developer, I am skilled in both front-end and back-end development, with experience using frameworks like React, Django, and Flask. I have also worked with databases such as MySQL, Phpmyadmin, and PostgreSQL, and am familiar with deployment and version control systems like GCP and Git.
                            
                            I am passionate about solving complex problems and creating efficient, scalable, and user-friendly web applications. Throughout my career, I have worked with startups, small businesses, and large corporations, delivering high-quality solutions that meet their unique needs.
                            
                            In my free time, I enjoy attending tech conferences, reading about the latest developments in software engineering, and contributing to open source projects. I am always looking for new challenges and opportunities to expand my skillset and make a positive impact in the tech community."</p>           
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Profesional Skills</h2>
                        <p class="skills__text">A full-stack developer is an IT professional who develops a software application's client and server side. They apply a wide range of coding skills and help other programmers solve problems. Full-stack developers also test and debug software and optimize the code.</p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">HTML5</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">90%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-css3 skills__icon'></i>
                                <span class="skills__name">CSS3</span>
                            </div>
                            <div class="skills__bar skills__css">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">80%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">JAVASCRIPT</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">60%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxs-paint skills__icon'></i>
                                <span class="skills__name">PHP</span>
                            </div>
                            <div class="skills__bar skills__ux">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">75%</span>
                            </div>
                        </div>
                    </div>
                    
                    <div>              
                        <img src="{% static 'img/skills.png' %}" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                    <div class="work__img">
                        <img src="{% static 'img/project-image01.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/project-image02.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/project-image03.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/project-image04.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/project-image05.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/WORK.jpg' %}" alt="">
                    </div>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="" class="contact__form">
                        <input type="text" placeholder="Name" class="contact__input">
                        <input type="mail" placeholder="Email" class="contact__input">
                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="button" value="Enter" class="contact__button button">
                    </form>
                </div>
            </section>
        </main>
       <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">MANSHA JAIN</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            </footer>
    </body>
</html>